
  <div class="row">
    <div class="links__title">

      <div class="gr-10">
        <h3>

          {{#if link.description}}
          {{#link-to "links.show" link.id}}
            {{link.title}}
            <span class="links__date">
              {{relative-date link.inserted_at}}
            </span>
          {{/link-to}}
          {{else}}
          <a href="{{link.url}}">
            {{link.title}}
            <span class="links__date">
              {{relative-date link.inserted_at}}
            </span>
          </a>
          {{/if}}

          {{ form-c }}
        </h3>
      </div>

      <div class="gr-2">
        {{gravatar-image email="laurent.schaffner.code@gmail.com" class="links__photo" size="50"}}
      </div>

    </div>
  </div>
