<div class="header__links">
  <a href="#">{{fa-icon "github"}}</a>
  <a href="#">{{fa-icon "linkedin"}}</a>
  <a href="#">{{fa-icon "twitter"}}</a>
  <a href="#">{{fa-icon "facebook"}}</a>
  <a href="#">{{fa-icon "skype"}}</a>
  <a href="#">{{fa-icon "envelope-o"}}</a>
  <a href="#">{{fa-icon "paperclip"}}</a>
</div>
