<div class="container">

  <!-- Header -->
  <div class="row row-full">

    <div class="header">

      <div class="row">

        <div class="gr-8 gr-centered">

          <div class="header__inside">

            <!-- Author -->
            <div class="header__author">
              <h1>Laurent Schaffner</h1>
            </div>

            <!-- Summary -->
            <div class="header__summary">
              Hackers &amp; Painters
            </div>

            <!-- Links -->
            <div class="header__links">
              <a href="#">{{fa-icon "github"}}</a>
              <a href="#">{{fa-icon "linkedin"}}</a>
              <a href="#">{{fa-icon "twitter"}}</a>
              <a href="#">{{fa-icon "facebook"}}</a>
              <a href="#">{{fa-icon "skype"}}</a>
              <a href="#">{{fa-icon "envelope-o"}}</a>
              <a href="#">{{fa-icon "paperclip"}}</a>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- Content -->
  <div class="row">

    <!-- Content -->
    <div class="gr-11 gr-centered">

      <div class="links">

        <div class="row">
          <div class="links__header">
            <div class="gr-10">
            <h2>My timeline of interest</h2>
          </div>
          </div>
        </div>

        {{#each model.links as |link|}}

          <div class="row">
            <div class="links__title">

              <div class="gr-10">
                <!-- TODO : make the date human readable -->
                <h3><a href="{{link.url}}">{{link.title}}

                  <span class="links__date">
                  {{relative-date link.inserted_at}}

                </span></a></h3>
              </div>
              <div class="gr-2">
                {{gravatar-image email="laurent.schaffner.code@gmail.com" class="links__photo" size="50"}}
              </div>

            </div>
          </div>


        {{/each}}

      </div>

    </div>


  </div>
</div>
