<div class="container">

  <!-- Header -->
  <div class="row row-full">

    <div class="header">

      <div class="row">

        <div class="gr-8 gr-centered">

          <div class="header__inside">

            <!-- Author -->
            {{header-author}}

            <!-- Summary -->
            {{header-summary}}

            <!-- Links -->
            {{header-links-list}}

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- Content -->
  <div class="row">

    <!-- Content -->
    <div class="gr-11 gr-centered">

      <div class="links">

        <!-- Links header -->
        {{content-links-header}}

        <!-- Links -->
        {{content-links links=model.links}}

      </div>

    </div>

  </div>
</div>
